@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.header h1 {
  margin: 0 !important;
  padding: 0 !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: primary;
}

i {
  cursor: pointer;
}

i:hover {
  color: #1d4ed8;
}

.k {
  animation: k is infinite;
}

@keyframes k {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

input,
textarea {
  height: 40px;
  border: 1px solid gray;
  width: 100%;
  padding-left: 40px;
}

input:focus {
  outline: none;
  border: 2px solid #1d4ed8;
}

textarea {
  height: 100px;
  padding-top: 10px;
}
